
.exclusive-con {
    background-color: #d9d9d9;
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 12px;
}

/* Responsive -----------------------------------------------------------------------------------------------------*/

@media (max-width: 992px) {
    .exclusive-con {
        width: 95%;
    }
}

@media (max-width: 768px) {
    .exclusive-con {
        width: 100%;
        border-radius: 0;
        padding: 20px 15px;
        text-align: center;
    }
}